:8000 {
  route {
    reverse_proxy /api/* localhost:3000
  }

  header {
    Strict-Transport-Security max-age=31536000
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
  }
}
